.rdw {
    width: 100%;
    height: 10%;
    color: white;
    background-color: black;
    padding-left: 50px;
    margin-left: 20px;
    /* height: 400px; */
}

.new-class {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}